.custom-gauge-container {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  min-height: 260px;
  position: relative;
}
svg {
  fill: transparent;
  stroke-width: 5px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: scale(2);
  transform-origin: top center;
}
circle {
  stroke: #f8a100;
  stroke-dasharray: 33%, 4%;
  stroke-dashoffset: -27;
}
